# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- Give some examples of expressions in Python

###### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

###### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. matplotlib
4. Scikit-learn

|Data Science Tools|
|------|
|Jupyter notebook|
|GitHub|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Catarina Rodrigues